<div id="login_page">
  <div id="login_container">
    <div>
      <h1 id="login_title">ログイン画面</h1>
      <div id="login_form_area">
        <!--ログインform-->
        <div>
          <%= form_for(:session, url: login_path) do |f| %>
            <p>
              <%= f.label(:email, 'Email:') %>
              <%= f.email_field :email, placeholder: '(例) example@example.com', size: '30x1' %>
            </p>
            <p>
              <%= f.label(:password, 'Password:') %>
              <%= f.password_field :password, placeholder: '2文字以上', autocomplete: 'off', size: '30x1' %>
            </p>
            <%= f.submit "Log in" %>
          <% end %>
        </div>
        <!--ログイン失敗時のエラーメッセージ-->
        <div>
          <% flash.each do |key, value| %>
            <br>
            <div class="err_messe alert-<%= key %>"><%= value %></div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="link_box">
      <p><%= link_to '新規登録へ', signup_path %></p>
      <p><%= link_to 'リロード', login_path %></p>
    </div>
  </div>
</div>
