<div id="product_page">
  <!-- ログイン状態 -->
  <div>
    <% if logged_in? %>
      <%= render 'products/logged_in' %>
    <% else %>
      <%= render 'products/not_logged_in' %>
    <% end %>
  </div>
  <!-- 現在のuserデータ -->
  <% if @current_user.present? %>
    <p>ようこそ「<%= @current_user.name %>」さん</p>
    <div id="formArea">
      <%= form_for @product do |product| %>
        <%= product.hidden_field :name, value: @current_user.name %>
        <%= product.hidden_field :user_id, value: @current_user.id %>
        <%= product.hidden_field :goods, value: '' %>
        <%= product.hidden_field :quantity, value: '' %> 
        <%= product.hidden_field :totalPrice, value: '' %> 
        <%= product.submit '決定', id: 'formSubmit', data: {confirm: '購入しますか？'} %>
      <% end %>
    </div>
  <% else %>
    <button id="alter_formSubmit"><%= link_to 'ログイン画面へ' , login_path, id: 'alter_login'%></button>
  <% end %>
  <!-- 商品リスト -->
  <h1>商品一覧</h1>
  <div>
    <label for="goods_search">検索🔎 </label>
    <input type="text" id="goods_search" placeholder="キーワードを入力">
  </div>
  <div id="root"></div>
</div>

<!-- jsソース -->
<%= javascript_pack_tag 'menu' %>
<%= javascript_pack_tag 'dataChange' %> 
<%= javascript_pack_tag 'searchWd' %> 
